@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}
html {
    height: 100%;
}
#body {
    min-height: 100%;
    background-image: url('assets/C3A5C0.jpg');
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
}

.section_filler {
    height: 3em;
    width: 85%;
}
/*----------left----------*/
.left {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: fixed;
    left: 0px;
    padding: 2em 4em;
}
#title {
    text-decoration: none;
    font-weight: 500;
    transition: 0.4s;
}
#title:hover {
    font-size: 1.05em;
}
.current {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5em;
}
.location_time {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.icon_weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}
#current_temp {
    font-size: 6em;
    font-weight: 500;
}
#location {
    font-size: 3em;
    font-weight: 500;
}
.crop_container {
    height: 4em;
    aspect-ratio: 1 / 1;
}
#current_icon {
    height: 4.2em;
    aspect-ratio: 1 / 1;
    overflow: hidden;

}
.left_filler_big {
    height: 50vh;
}
/*----------left_end----------*/

/*----------glass----------*/
.glass {
    width: 40vw;
    min-height: 100%;
    background: linear-gradient(135deg , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;    
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    display: none;
}
/*-----search_section-----*/
.search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.search_filler {
    width: 7.5%;
}
#search_box {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 70%;
    aspect-ratio: 15 / 1;
    outline: none;
}
#search_box::placeholder {
    color: white;
}
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  font-size: 2em;
  color: black;
  transition-duration: 0.4s;
}
#search_button {
    width: 15%;
    aspect-ratio: 1 / 1;
    border: none;
    background: linear-gradient(135deg , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(250px);
    -webkit-backdrop-filter: blur(250px);
    border-bottom-left-radius: 0.5em;
    transition-duration: 0.4s;
    opacity: 0.7;
}
#search_button:hover {
    opacity: 1;
}
/*--search_suggestion--*/
.search_result {
    width: 85%;
}
.suggestion {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.8em;
}
.suggestion > a {
    text-decoration: none;
    transition: 0.4s;
}
.suggestion > a:hover {
    font-size: 1.05em;
}
/*-----search_section_ends-----*/

.section_line {
    width: 85%;
    border-bottom: 1px solid white;
}

/*-----weather_details-----*/
.weather_details {
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.weather_details > p {
    font-weight: 500;
    font-size: 1.1em;
}
.weather_item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.8em;
}
/*-----weather_details_ends-----*/

/*-----hourly_section-----*/
.hourly_section {
    width: 100%;
    display: none;
    justify-content: flex-start;
    background: linear-gradient(135deg , rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    padding: 1em;
    gap: 2em;
    overflow-x: scroll;    
    scroll-behavior: smooth;
    border-radius: 0.5em;
}
.hourly_section::-webkit-scrollbar {
    display: none;
}
.hour {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.hour > img {
    width: 4em;
    aspect-ratio: 1 / 1;
}
/*-----hourly_section_ends-----*/

/*-----future_forecast-----*/
.future_forecast {
    width: 85%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.future_forecast > p {
    font-weight: 500;
    font-size: 1.1em;
}
.future_forecast_item {
    width: 100%;
    display: grid;
    grid-template-columns: 29% 18% 18% 29%;
    align-items: center;
    margin-bottom: 1.8em;
    gap: 2%;
}
.future_forecast_item > p:nth-of-type(1) {
    justify-self: start;
}
.future_forecast_item > img {
    justify-self: end;
    height: 3em;
    aspect-ratio: 1 / 1;
}
.future_forecast_item > p:nth-of-type(2) {
    justify-self: start;
}
.future_forecast_item > p:nth-of-type(3) {
    justify-self: end;
}
/*-----future_forecast_ends-----*/

@media only screen and (max-width: 1024px) {
    * {
        font-size: 1.2vw;
    }
}

@media only screen and (max-width: 960px) {
    * {
        font-size: 2vw;
    }
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
        height: auto;
        position: relative;
        padding: 1em 1em;
        align-items: flex-start;
    }
    .left_filler_big {
    }
    .glass {
        width: 100%;
    }
    .current {
        width: 70%;
        gap: 1em;
        justify-content: flex-start;
    }
    #current_temp {
        font-size: 4em;
    }
    #location {
        font-size: 2em;
    }
    #time {
        font-size: 1em;
    }
    .crop_container {
        height: 2.7em;
        aspect-ratio: 1 / 1;
    }
    #current_icon {
        height: 2.7em;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    
    }
    #current_condition {
        font-size: 1em;
    }
}

@media only screen and (max-width: 425px) {
    * {
        font-size: 4vw;
    }
    body {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .left {
        width: 100%;
        height: auto;
        position: relative;
        padding: 1em 1em;
    }
    .left_filler_big {
    }
    .glass {
        width: 100%;
    }
    .current {
        width: 100%;
        gap: 1em;
        justify-content: flex-start;
    }
    #current_temp {
        font-size: 3em;
    }
    #location {
        font-size: 1.3em;
    }
    #time {
        font-size: 0.86em;
    }
    .crop_container {
        height: 1.7em;
        aspect-ratio: 1 / 1;
    }
    #current_icon {
        height: 1.7em;
        aspect-ratio: 1 / 1;
        overflow: hidden;
    
    }
    #current_condition {
        font-size: 0.86em;
    }
}